### Sort a Dictionary by Value
Write a Python script to sort (ascending and descending) a dictionary by value.

In [7]:
my_dict = {'name' : 'Ali', 'age' : '22', 'city' : "London"}
ascending_sorted = dict(my_dict)
ascending_sorted

{'name': 'Ali', 'age': '22', 'city': 'London'}

 Add a Key to a Dictionary
Write a Python script to add a key to a dictionary

In [12]:
my_dict.update({'Gender': 'male'})

In [15]:
my_dict_num = {0: 10, 1: 20}
my_dict_num.update({2: 30})

my_dict_num

{0: 10, 1: 20, 2: 30}

Concatenate Multiple Dictionaries
Write a Python script to concatenate the following dictionaries to create a new one.

In [19]:
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

dic1.update(dic2)
dic1.update(dic3)
dic1

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

 Generate a Dictionary with Squares
Write a Python script to generate and print a dictionary that contains a number (between 1 and n) in the form (x, x*x).

Sample Dictionary (n = 5):

In [ ]:
Couldnt solve

Dictionary of Squares (1 to 15)
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [ ]:
Couldnt solve

Create a Set
Write a Python program to create a set.

In [20]:
my_set = {1, 2, 3, 4}
my_set

{1, 2, 3, 4}

Iterate Over a Set
Write a Python program to iterate over sets.

In [ ]:
my_set = {'apple', 'banana', 'cherry', 'date'}

for item in my_set:
    print(item)

banana
apple
date
cherry

Add Member(s) to a Set
Write a Python program to add member(s) to a set.

In [25]:
my_set = {'Ali', 'Vali', 'Muni', 'Guli'}
my_set.add('Barno')
my_set

{'Ali', 'Barno', 'Guli', 'Muni', 'Vali'}

Remove Item(s) from a Set
Write a Python program to remove item(s) from a given set.

In [38]:
my_set = {'Ali', 'Vali', 'Muni', 'Guli'}
my_set.clear
my_set

{'Ali', 'Guli', 'Muni', 'Vali'}

Remove an Item if Present in the Set
Write a Python program to remove an item from a set if it is present in the set.

In [35]:
my_set = {'Ali', 'Vali', 'Muni', 'Guli'}
my_set.remove('Ali')
my_set

{'Guli', 'Muni', 'Vali'}