### Modify String with Underscores
Given a string txt, insert an underscore (_) after every third character. If a character is a vowel or already has an underscore after it, shift the underscore placement to the next character. No underscore should be added at the end.

 Modify String with Underscores
Given a string txt, insert an underscore (_) after every third character. If a character is a vowel or already has an underscore after it, shift the underscore placement to the next character. No underscore should be added at the end.

In [ ]:
txt = input('Enter any text: ')

The provided code stub reads an integer, n, from STDIN. For all non-negative integers i where 0 <= i < n, print i^2.

The provided code stub reads an integer, n, from STDIN. For all non-negative integers i where 0 <= i < n, print i^2.

In [4]:
num = int(input('Enter any number: '))
for i in range(num):
    print(i ** 2)

0
1
4

Loop-Based Exercises
Exercise 1: Print first 10 natural numbers using a while loop
Exercise 2: Print the following pattern
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [5]:
i = 1
while i <= 10:
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

Calculate sum of all numbers from 1 to a given number

In [7]:
num = int(input('Enter any number: '))
total = sum(range(1, num + 1))
print("Sum is:", total)

Sum is: 21

Print multiplication table of a given number

In [ ]:
num = int(input('Enter any number: '))
mult = range(num*num)
print(f'multiplication number is: {num}')

for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

multiplication number is: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

Display numbers from a list using a loop

In [13]:
numbers = [3, 7, 12, 5, 9]

print("Numbers in the list:")

for num in numbers:
    print(num)

Numbers in the list:
3
7
12
5
9

Count the total number of digits in a number

In [ ]:
num = int(input('Enter any number: '))
indexed = num.__index__
counted = count(indexed)

Print list in reverse order using a loop

In [20]:
def reverse(num):
    return int(str(num)[::-1])

numbers = [5, 6, 7, 9, 10, 55]

for i in numbers:
    print(reverse(i))

5
6
7
9
1
55

Display numbers from -10 to -1 using a for loop

In [32]:
num1 = -1
num2 = -11
while num1 < num2:
    print(num1)

Display message “Done” after successful loop execution

In [30]:
def reverse(num):
    return int(str(num)[::-1])

numbers = [5, 6, 7, 9, 10, 55]

print('Reversed numbers:')

for i in numbers:
    print(reverse(i))

print("Done")

Reversed numbers:
5
6
7
9
1
55
Done

Return the elements that are not common between two lists. The order of elements does not matter.

In [31]:
list1 = [1, 1, 2]
list2 = [2, 3, 4]
uncommon = list1 is not list2
print (uncommon)

True