 ###Create and Access List Elements
Create a list containing five different fruits and print the third fruit.

In [2]:
my_list = ['apple', 'pineapple', 'lemon', 'banana', 'strawberry']
print(my_list[2])

lemon

### Concatenate Two Lists
Create two lists of numbers and concatenate them into a single list.

In [4]:
list1 = [1,2,3]
list2 = [4,5,6]
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 6]

####Extract Elements from a List
Given a list of numbers, extract the first, middle, and last elements and store them in a new list.

In [8]:
my_list = [1, 2, 3, 4, 5, 6]
print(my_list[1: :2])

[2, 4, 6]

####Convert List to Tuple
Create a list of your five favorite movies and convert it into a tuple.

In [11]:
my_list = ['Spring', 'One day', 'Super star', 'Adventure', 'Black world']
my_tuple = tuple(my_list)
print(my_tuple)

('Spring', 'One day', 'Super star', 'Adventure', 'Black world')

###Check Element in a List
Given a list of cities, check if "Paris" is in the list and print the result

In [12]:
my_list = ['Paris', 'Russian', 'london', 'USA']
my_list.index('Paris')

0

###Duplicate a List Without Using Loops
Create a list of numbers and duplicate it without using loops.

In [13]:
my_list = [1, 2, 3, 4, 5, 6]
new_list = my_list.copy()
print(new_list)

[1, 2, 3, 4, 5, 6]

###Swap First and Last Elements of a List
Given a list of numbers, swap the first and last elements.

In [14]:
my_list = [1, 2, 3, 4, 5, 6]
my_list.reverse()
print(my_list)

[6, 5, 4, 3, 2, 1]

###Slice a Tuple
Create a tuple of numbers from 1 to 10 and print a slice from index 3 to 7.

In [15]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_list [3:7]

[4, 5, 6, 7]

###Count Occurrences in a List
Create a list of colors and count how many times "blue" appears in the list.

In [ ]:
my_list = ['blue', 'white', 'black', 'pink', 'brown', 'green']
my_list.count('blue')

1

###Find the Index of an Element in a Tuple
Given a tuple of animals, find the index of "lion".

In [18]:
my_list = ['lion', 'snake', 'dog', 'cat']
my_list.index('lion')

0

###Merge Two Tuples
Create two tuples of numbers and merge them into a single tuple.

In [20]:
my_tuple = (1, 2, 3, 4, 5)
my_tuple2 = (6, 7, 8, 9)
my_tuple = my_tuple2.copy()
print(my_tuple)

AttributeError: 'tuple' object has no attribute 'copy'

###Find the Length of a List and Tuple
Given a list and a tuple, find and print their lengths.

In [21]:
my_list = [10, 20, 30, 40, 50]
my_tuple = (5, 15, 25)

list_length = len(my_list)
tuple_length = len(my_tuple)

###Convert Tuple to List
Create a tuple of five numbers and convert it into a list.

In [23]:
my_tuple = (5, 15, 25)
my_list = list(my_tuple)
print(my_list)

[5, 15, 25]

### Find Maximum and Minimum in a Tuple
Given a tuple of numbers, find and print the maximum and minimum values.

In [24]:
my_tuple = (5, 15, 25)
print = max(my_tuple)
print = min(my_tuple)

###Reverse a Tuple
Create a tuple of words and print it in reverse order.

In [26]:
tuple = ('word', 'pen', 'book', 'table')
reversed_tuple = tuple[::-1]
print(reversed_tuple)

TypeError: 'int' object is not callable