In [ ]:
import sqlite3

conn = sqlite3.connect('starfleet.db')
cursor = conn.cursor()

cursor.execute('''
    CREATE TABLE IF NOT EXISTS Roster (
        Name TEXT,
        Species TEXT,
        Age INTEGER
    )
''')

In [2]:
cursor.execute("DELETE FROM Roster") 

people = [
    ('Benjamin Sisko', 'Human', 40),
    ('Jadzia Dax', 'Trill', 300),
    ('Kira Nerys', 'Bajoran', 29)
]

cursor.executemany("INSERT INTO Roster (Name, Species, Age) VALUES (?, ?, ?)", people)

NameError: name 'cursor' is not defined

In [3]:
cursor.execute("UPDATE Roster SET Name = 'Ezri Dax' WHERE Name = 'Jadzia Dax'")

cursor.execute("SELECT Name, Age FROM Roster WHERE Species = 'Bajoran'")
results = cursor.fetchall()

print("Bajoran Members:")
for name, age in results:
    print(f"Name: {name}, Age: {age}")

conn.commit()
conn.close()

NameError: name 'cursor' is not defined